<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="CodeSolution.Properties.Settings.CodeSolutionConnectionString"
            connectionString="Data Source=LAPTOP-LT1J0C29\SQLEXPRESS;Initial Catalog=CodeSolution;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="CodeSolution.Properties.Settings.CodeSolutionConnectionString2"
            connectionString="Data Source=LAPTOP-LT1J0C29\SQLEXPRESS;Initial Catalog=CodeSolution;Persist Security Info=True;User ID=sa;Password=CodeServer"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>